body {
    margin: 0px;
    background-color: rgb(23, 23, 27);
    font-family: 'Playfair Display', serif;
}


header{
    z-index: 100;
    opacity: 0.95;
    
}
textarea{
    max-height: 80px;
    resize: none;
}


.container-fluid{
    display: flex;
    background-color: rgb(26, 17, 17);
    position: sticky;
    top: 0;
    height: 50px;
    text-align: center;
    justify-content: center;
}
.nav{
    border: 0;
}
.nav a{
    color:burlywood; 
}

.nav a:hover{
    color: burlywood; 
}



.productos h2{
    text-align: center;
    font-size: 3em;
    color: burlywood;
    margin: 0;
}

.card-container{
    padding: 63px;
    padding-top: 20px;
}

.card h5{
    color: burlywood;
}

.video-prod{
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 100%;
}

.nav{
    padding: 4px;
}

.img-card{
    transition: 1s
}

.img-card:hover{
    transition: 1s;
    transform: scale(1.2);
}

.description{
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
}

.description:hover{
    height: 110px;
}

.container h2{
    font-size: 2em;
}

.card{
    margin-top: 25px;
}


.carrito{
    min-height: 70vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.tr-carrito{
    color: burlywood;
}

.itemCartTotal{
    color: burlywood;
}

.table__productos{
    display: flex;
}

.table__productos > img{
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.table__cantidad > input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

.modal-body input{
    margin: 3px;
}

.container-pay{
    display: flex;
    text-align: center center;
    justify-content: center;
}

.container-pay .btn{
    width: 100%;
    margin: 5px;
    
}

.footer_class{
    margin-top: 50px;
}

